<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación del Proyecto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido al Proyecto de Cultivo de Hongos</h1>
        <p>Este proyecto tiene como objetivo desarrollar un sistema de control y monitoreo ambiental para optimizar el cultivo de hongos, en particular el champiñón.</p>
        <p>Utilizando tecnologías como la Raspberry Pi y sensores, se busca crear un ambiente ideal para el crecimiento de los hongos, facilitando su producción y asegurando su calidad.</p>
        <p>Esperamos que este sistema ayude a mejorar las prácticas de cultivo y a contribuir a la sostenibilidad en la agricultura.</p>
        <img src="{{ url_for('static', filename='images/chapingo.png') }}" alt="Descripción de la imagen" class="imagen">
    </div>
</body>
</html>